/* Kontaktformular */

.contact-form {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--lightblue);
    border: 2px solid white;
    border-radius: 25px;
    padding: 40px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 50%;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 1em;
    column-gap: 0.5em;
    background-color: var(--background-color);
    border-radius: 8px;
}

.contact-container textarea {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}


#kontaktieren_ueberschrift {
    color: var(--yellow);
    margin: 0 0 1em 0;
    display: flex;
}

.contact-container input,
.contact-container textarea {
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    min-width: 75px;
}

.contact-container textarea {
    resize: none;
}

::placeholder {
    color: white;
    font-family: 'Dm Mono Light';
    opacity: 0.7;
}

.contact-form button {
    background-color: var(--yellow);
    color: var(--pink);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Din Alternate';
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    width: fit-content;
    box-shadow: none;
}

.contact-form button:hover {
    background-color: var(--pink);
    color: var(--yellow);
}

/* Responsive Design */

@media (max-width: 1500px) {

    .contact-container {
        display: block;
    }

    .contact-container input,
    .contact-container textarea {
        margin: 0.5em 0;
    }
}

@media (max-width: 768px) {

    .contact-form {
        box-sizing: border-box;
        width: 100%;
    }
}