.infos-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;  
  width: 100%;
  grid-column-gap: 3em;
  grid-row-gap: 5em;
  vertical-align: top;
  margin-bottom: 3em;
}

.faq-section {
    grid-column: 1 / 9;
    width: 100%;
    padding: 0;
    margin-top: 0;
}

.infos-container h1 {
    text-align: left;
    vertical-align: top;
    margin: 0  0 1.5em 0;
    padding: 0;
}

  .faq-item {
    list-style: none;
    margin-bottom: 15px;
  }

  .faq-question {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 30px; /* Runder Rahmen */
    border: 1px solid #ffffff; /* Gelber Rand wie im Menü */
    color: white;
    font-size: 1.2em;
    position: relative;
    transition: color 0.3s, background-color 0.3s;
    text-align: left;
  }

  .faq-question:hover {
    color: #f4c542; /* Gelbe Schrift beim Hover */
  }

  .faq-question::after {
    content: '\25BC'; /* Pfeil nach unten */
    position: absolute;
    right: 15px;
    font-size: 1.2em;
    transition: transform 0.3s;
  }

  .faq-item.open .faq-question::after {
    transform: rotate(180deg); /* Pfeil dreht nach oben */
  }

  .faq-answer {
    display: none;
    border: 1px solid #ffffff; /* Gelber Rand */
    border-radius: 30px; /* Runder Rahmen */
    padding: 15px;
    color: white;
    font-size: 1em;
    margin-top: 5px;
    text-align: left;
  }

  .faq-item.open .faq-answer {
    display: block;
  }

  .helpline {
    margin-bottom: 30px;
    grid-column: 9 / 13;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .helpline-list {
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding: 15px;
    color: white;
    font-size: 1.2em;
  }

  .helpline-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .helpline-list li {
    margin-bottom: 10px;
  }

  .helpline-list li a {
    color: var(--yellow);
    text-decoration: none;
  }

  .helpline-list li a:hover {
    text-decoration: underline;
  }

  .video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0;
  }

  .video-container iframe {
    width: 100%;
    max-width: 400px;
    height: 15em;
    border-radius: 15px;
    border: 1px solid #ffffff;
  }

  .video-container iframe:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
  }