

.login-box {
background-color: rgba(0, 0, 0, 0.2);
color: var(--lightblue);
border: 2px solid white;
border-radius: 25px;
padding: 40px 30px;
width: 30%;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
margin: 0 auto;
}

.login-box h1 {
color: var(--yellow);
font-family: 'Din Alternate';
margin-bottom: 20px;
font-size: 1.8rem;
margin-top: 0;
}

.input-group {
margin-bottom: 15px;
text-align: left;
}

.input-group label {
display: block;
margin-bottom: 5px;
font-size: 1rem;
color: var(--lightblue);
}

.input-group input {
background: none;
border: 1px solid white;
color: var(--lightblue);
border-radius: 5px;
padding: 10px;
font-size: 1rem;
width: 100%;
box-sizing: border-box;
}

.submit-button-login {
background-color: var(--yellow);
color: var(--pink);
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
transition: background-color 0.3s, color 0.3s;
}

.submit-button-login:hover {
background-color: var(--pink);
color: var(--yellow);
}