/* Fonts*/


@font-face {
  /* sagt, dass man Font brauchen kann und auch Nutzende, die die Schrift nicht haben, dass sie es brauchen können */
  font-family: Din Condensed;
  /* Namensgebung */
  src: url(../fonts/din_condensed_bold.ttf);
  /* Verlinkung zum Font */
}

@font-face {
  font-family: Din Alternate;
  src: url(../fonts/din_alternate_bold.ttf);
}

@font-face {
  font-family: Din Alternate Light;
  src: url(../fonts/din_alternate_light.ttf);
}

@font-face {
  font-family: DM Mono Light;
  src: url(../fonts/DMMono-Light.ttf);
}


/* Root*/

:root {
  /* Wird im allgemeinen benutzt, um Variabeln zu definieren. Unsere Farbbibliothek */
  --yellow: rgb(255, 255, 51);
  --blue: rgb(16, 9, 53);
  --pink: rgb(226, 55, 127);
  --lightblue: rgb(213, 223, 240)
}

.hamburger-menu {
  display: none;
}

/* Layout und Styling*/

body {
  background-image: url(../img/background.svg);
  width: 100%;
  /* 100% der Anzeige vom Screen */
  height: 100%;
  color: var(--lightblue);
  /* Farbe für Text */
  background-repeat: repeat;
  font-family: 'Dm Mono Light';
  /* Alles im Body hat diesen Font */
  background-color: var(--blue);
  padding: 0;
  margin: 0;
}

a {
  /* a=Alles Sachen die mit Links zu tun haben. href ist ein attribut davon*/
  color: var(--lightblue);
}


.logo-header {
  /*Logo Trust Bärn im Header*/
  text-align: center;
}

/* Styling Button */
.login-button {
  /*Button rechts oben um zur Login Seite zu kommen*/
  position: absolute;
  /*Neue Ebene: Positionierungverhalten Element steuern, entfernt das Element aus dem normalen Fluss des Dokuments. Wenn der Container oder die Seite scrollt, bleibt der Button immer an der gleichen Position relativ zum Viewport oder Container*/
  top: 20px;
  /*Abstand des Buttons vom obersten Rand, Alternative zu Pixel ist em (Margin und Padding), rem (Text), fr(Grid), */
  right: 20px;
  /*Abstand des Buttons vom rechten Rand*/
}

.login-button .button {
  background-color: var(--yellow);
  /*Hintergrundfarbe vom Button*/
  color: var(--pink);
  /*Schriftfarbe von Login Schrift im Button*/
  padding: 10px 20px;
  /*Innenabstand zwischen dem Inhalt eines Elements und dem Rand (Border) des Elements, 10px oben und unten, 20px rechts und links*/
  border: none;
  /*border macht ein Rahmen um das Element, jedoch bei uns jetzt keiner weil "none", man sagt damit, dass die boarder nicht angezeigt wird.*/
  border-radius: 5px;
  /*Ecken eines Elements abrunden*/
  font-family: 'Din Alternate';
  /*Schriftfamilie definieren*/
  font-size: 1rem;
  /*wie gross die Schrift sein soll: rem ist für Text*/
  text-decoration: none;
  /*Textstil-Änderungen: Unterstreichen, Durchstreichen, Überstreichen*/
  transition: background-color 0.3s ease, color 0.3s ease;
  /*Änderung des Elements smooth durchführen: [Eigenschaft] [Dauer] [Timing-Funktion] [Verzögerung]*/
}

/*ease: langsam, schnell, langsam*/

.login-button .button:hover {
  /*drüberfahren Login Button*/
  background-color: var(--pink);
  /*Hintergrundfarbe Button wenn drüberfahren mit Maus*/
  color: var(--yellow);
  /*Schrift Login wenn drüberfahren mit Maus*/
}

/* Navigation Stylen */

nav {
  /*Navigation*/
  font-size: 1.5rem;
  margin-bottom: 4em;
  /*Abstand (den Rand) am unteren Ende eines Elements zu steuern zum anderen Element*/
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px;
  margin: 0px auto;
  width: 50%;
  gap: 20px;
}

.menu a,
.menu li ul a {
  text-decoration: none;
}

.menu a {
  padding-bottom: 5px;
  transition: 0.3s ease;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 10px 20px;
}

.menu a:hover,
.aktiver_menuelink {
  color: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 25px;
  transition: border-color 0.5s linear;
}

.aktiver_menuelink:visited {
  color: var(--yellow);
  background-color: var(--pink);
}

.dropdown {
  padding-top: 30px;
}

.menu li ul {
  list-style: none;
  display: none;
  position: absolute;
  margin-top: 10px;
}

nav ul li:hover ul {
  /*Dropdown-Menü zu erstellen, das sichtbar wird, wenn der Benutzer mit der Maus über ein Listenelement fährt*/
  display: block;
  /*Das Element nimmt den ganzen Platz ein, alles neue wird auf eine neue Zeile getan*/
  padding: 0px;
  margin: 0px;
  /*Außenabstand (also den Abstand zwischen einem Element und anderen benachbarten Elementen)*/
  padding-bottom: 10px;
  /*10px; Innenabstand (Padding) am unteren Rand eines Elements zu definieren.*/
  z-index: 1;
  /* Stapelelemente ordnen, wenn Elemente übereinander liegen. z.B hier liegt das Element über einem Element mit einem tieferen z-index */
}



/* Grid */

.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.grid {
  /*flexibles Raster*/
  display: grid;
  /*Aktiviert das Grid*/
  grid-template-columns: repeat(12, 1fr);
  /*Legt das Spalten-Layout des Grid fest, Anzahl und Breite der Spalten*/
  grid-template-rows: auto;
  /*Leg das Zeilenlayout des Grids, Höhen der Zeilen werden automatisch an den Inhalt angepasst*/
  width: 100%;
  /*Grid Container Element nimmt 100% des übergeordneten Containers ein*/
  grid-column-gap: 3em;
  /*horizontaler Abstand zwischen den Spalten: 1em bedeutet, dass der Abstand 1 Einheit der Schriftgrösse des Elements beträgt*/
  grid-row-gap: 5em;
  /*vertikaler Abstand zwischen Zeilen: 5em bedeutet, dass der Abstand 5 Einheiten der Schriftgrösse besteht*/
}

.grid_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4erm;
  font-weight: 700;
  /*Schriftstärke: 700: bold / 400: normal / 300: dünn / 900: extra fett*/
  color: var(--pink);
  border: 1px solid var(--yellow);
  /*solid: durchgezogene Linie*/
  text-align: center;
}


/* Home */

h1 {
  /* Hauptüberschrift */
  font-size: 2rem;
  color: var(--yellow);
  margin-top: 0;
  /* äusseren Abstand (vom Rand) Element nach oben  */
}

.illustration_rechts {
  /* Hände */
  width: 100%;
  /* nimmt gesamte Breite des Elements ein */
}

.article {
  /* Text zu Trust Bärn */
  border: 1px solid white;
  /* Weisser Rahmen mit Dicke 1px */
  border-radius: 25px;
  /* rundet die Ecken des Rahmens ab */
  height: fit-content;
  /* höhe wird automatisch angepasst, dass der Inhalt Platz hat */
  background: rgba(0, 0, 0, 0.2);
  padding: 2em;
}

.left {
  /* Trust Bärn Map */
  grid-column: 1/9;
  /* Ist ganz links im 9er Grid */
}

.right {
  /* Illustration Hand */
  grid-column: 9/13;
  /* Wo im Grid es sich befindet */
  align-items: start;
  /* Ausrichtung von Elementen entlang der Querachse (horizontal bei Columns) */
}


.cta {
  /* Call to Action mit Logos und Download Buttons Appstore und Logo Trust Bärn */
  text-align: center;
  border: none;
  background: none;
  font-size: 1.5rem;
  grid-row: 1/3;
}

.app-icon {
  /* Trust Bärn App Icon */
  width: 60%;
  margin: 0 auto;
  /* 0: kein Abstand unten und oben / auto: Rand links und recht automatisch. Element horizontal zentriert. */
  margin-bottom: 1em;
  /* fügt einen Abstand unter dem Element ein*/
}

.badge {
  /* applestore und google play store */
  width: 60%;
  margin: 0 auto;
}

.badge:hover {
  /* Hover-Effekt */
  transform: scale(1.05);
  /* Skalierung des Elements, 1.1: 110% der Originalgrösse */
  transition: transform 0.3s ease;
  /* Smooth transition */
}

#apple_badge {
  margin-bottom: 0.5em;
}


/* Footer stylen */

footer {
  width: 100%;
  background-color: var(--yellow);
  color: var(--pink);
  text-align: center;
  padding: 20px 0;
  margin-top: 10rem;
}

.footer-content {
  display: flex;
  /* Aktiviert Flexbox für den Container */
  flex-wrap: wrap;
  /* Erlaubt den Umbruch der Elemente, wenn der Platz nicht ausreicht */
  justify-content: center;
  /* Zentriert die Flex-Elemente auf der Hauptachse */
  width: auto;
  /* Die Breite des Containers passt sich automatisch an den Inhalt an */
}


.logos figure img {
  width: 100%;
}

.footer-section {
  min-width: 300px;
  /* Legt die minimale Breite des Elements auf 300px fest */
  margin: 10px;
  /* Fügt einen Abstand von 10px rund um das Element hinzu */
  justify-content: center;
  /* Zentriert die Flex-Elemente entlang der Hauptachse */
}

.footer-section h2 {
  font-family: 'Din Alternate';
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section li {
  font-family: 'Din Alternate Light';
  font-size: 1rem;
  margin: 5px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  color: var(--pink);
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid var(--pink);
  /* Fügt oben eine 1px dicke, pinke Linie hinzu */
  padding-top: 10px;
  /* Fügt 10px Abstand oben innerhalb des Elements hinzu */
  font-family: 'Din Alternate Light';
  /* Setzt die Schriftart auf 'Din Alternate Light' */
  font-size: 0.9rem;
  /* Setzt die Schriftgröße auf 0.9rem (90% der Standard-Schriftgröße) */
  margin-top: 20px;
  /* Fügt 20px Abstand oben um das Element hinzu */
  width: fit-content;
  /* Passt die Breite des Elements an den Inhalt an */
  margin-left: auto;
  /* Zentriert das Element horizontal (mit margin-right: auto) */
  margin-right: auto;
  /* Zentriert das Element horizontal (mit margin-left: auto) */
}



/* Responsive Design for Tablets and Smartphones */

@media (max-width: 1530px) {
  .dropdown {
    display: none;   /* Dropdown Menu ausblenden */
  }

  .app-icon {
    width: 90%;
  }

  .badge {
    width: 80%;
  }
}

@media (max-width: 768px) {

  nav {
    margin-bottom: 0em;
  }
  
  .wrapper {
    flex-direction: column;
    width: 85%;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .logo-header a img {
    width: 45%;
  }

  .grid_text {
    display: none;
  }

  .article,
  .illustration_rechts {
    grid-column: 1/13;
  }

  .article {
    margin: 10px 0;
  }


  /* Hamburger_Menu */

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    
  }

  .hamburger-menu {
    display: block;
    margin-bottom: 4em;
  }

  .menu a {
    padding: 10px;
    width: fit-content;
    text-align: center;
  }


  .submenu:hover .submenu-content {
    display: flex;
  }

  #menu-toggle:checked+.menu-icon+.menu {
    display: flex;
  }

  .menu-icon {
    display: inline-block;
    cursor: pointer;
  }

  .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  .menu-icon .navicon:before,
  .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .menu-icon .navicon:before {
    top: 5px;
  }

  .menu-icon .navicon:after {
    top: -5px;
  }

  #menu-toggle:checked+.menu-icon .navicon {
    background: transparent;
  }

  #menu-toggle:checked+.menu-icon .navicon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  #menu-toggle:checked+.menu-icon .navicon:after {
    transform: rotate(45deg);
    top: 0;
  }

  /* Inhalt */

  .grid {
    display: block;
  }

  .grid .article {
    margin: 4em 0;
  }

  .article:first-child {   /* first child wählt den ersten Artikel (erstes Element unter dem überstehenden Element) aus */
    margin-top: 0;
  }

}

@media (max-width: 360px) {

  .wrapper {
    width: 80%;
  }

  .footer-section {
    min-width: 10px;
  }

  p, h1, h2 {
    hyphens: auto;
  }

  p {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
  }   

  .article {
    padding: 1em;
  }

}